<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>音乐电台.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55752A791F0DBED6009B509D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55752A8D1F0DBED6009B509D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55752A981F0DBED6009B509D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
